<h1><%= @user.name %>：マイページ</h1>

<% if @user.icon_image.present? %>
  <p>プロフィール写真</p>
    <%= image_tag @user.icon_image.url, size: '100x100' %>
  <% else %>
    <%= image_tag 'noimage.png', size: '100x100' %>
  <% end %>

<p>メールアドレス：<%= @user.email %></p>